.todoform {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: azure;
  border-radius: 8px;
  padding: 20px;
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.moderninput {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin-right: 20px;
  width: 100%;
  font-size: 16px;
  color: #333;
  background-color: transparent;
  display: block;
  outline: none;
}
.modernbutton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
}
